{% set content %}
<p>Select User:</p>
<ul>
{% for item in items %}
  <li><a href="/app/{{ item.source.userId }}">{{ item.source.userId }}</a></li>
{% endfor %}
</ul>
{% endset %}

{% include "layout.njk" %}
