<!DOCTYPE html>
<html>
  <body>
    <h1>Hello from server</h1>
    <ul>
      {% for item in items %}
        {%  if item.type == "message" %}
          {%  if item.message.type == "text" %}
            <li>{{ item.message.text }}</li>
          {%  elif item.message.type == "sticker" %}
            <li>Sticker: {{ item.message.keywords | join(",") }}</li>
          {%  elif item.message.type == "image" %}
            <li>Image: {{ item.message.id }}</li>
          {% else %}
            <li>Unknown message.type: {{ item.message.type }}</li>
          {% endif %}
        {% else %}
          <li> Unknown type: {{ item.type }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>
