{% set content %}
{% for item in items %}
  <article class="pt-10">
    <p class="text-xl whitespace-pre-wrap break-words">
      {%-  if item.type == "message" -%}
        {%-  if item.message.type == "text" -%}
          {{ item.message.text }}
        {%-  elif item.message.type == "sticker" -%}
          Sticker: {{ item.message.keywords | join(", ") }}
        {%-  elif item.message.type == "image" -%}
          Image: {{ item.message.id }}
        {%- else -%}
          Unknown message.type: {{ item.message.type }}
        {%- endif -%}
      {%- else -%}
        Unknown type: {{ item.type }}
      {%- endif -%}
    </p>
    <p class="text-xs pt-2">
      {{ item.timestamp | date }}
    </p>
  </article>
{% endfor %}
{% endset %}

{% include "layout.njk" %}
