<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBD</title>
  </head>
  <body>
    <div spa-app class="mx-auto max-w-xl">
      <h1 class="py-5 text-3xl font-bold">Hello</h1>
      <div>
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>
